.box-pop {
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    height: 70px;
    padding: 20px;
    width: 200px;
}
#text {
    background: #e5e5e5;
    padding: 5px;
    height: 600px;
    overflow: auto;
}
.note {background-color: #fff16e}
.page {background: #fff; margin: 20px; padding: 10px; height: 500px;}
